.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F2F5;
    align-items: center;
}

.main__all {

    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F2F5;
    gap: 20px;
    padding: 20px;

}


.main__entry {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.main__entry__text {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    color: #8B8B8B;
    align-items: center;
}

.main__entry__input {
    width: 450px;
    height: 40px;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}


.main__button {
    display: flex;
    justify-content: flex-end;
}

.main__button__item {
    width: 470px;
    height: 40px;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #25D366;
    color: #fff;

}


.main__error {
    color: #25D366;
    align-items: center;
}